/*
	mobilerock.css 
	@rainrock
*/


.mobilerock-header{height:44px;overflow:hidden; background-color:#1389D3;color:white;width:100%;}
.mobilerock-header div{font-size:18px;line-height:43px;float:left;height:44px;width:30%}


.mobilerock-footer{height:40px;overflow:hidden; background-color:#eeeeee;color:white;position:fixed;width:100%;left:0px;bottom:0px}
.mobilerock-body{ background-color:white}

a.topbtn:link,a.topbtn:visited{TEXT-DECORATION:none;color:white;font-size:14px;height:44px;width:65px; display:block;text-align:center}
a.topbtn:hover{ background-color:#0372B7}


.homeiconss{padding:10px 5px;margin:5px;color:white;width:120px;height:90px;overflow:hidden;cursor:pointer;font-size:14px;position:relative;z-index:0}
.homeiconss i{font-size:30px}
.homeiconss:hover{opacity:0.8}
.homeiconss2{width:100px;height:70px;overflow:hidden}
.homeiconss .div01{margin-top:10px}
.homeiconss .div00{position:absolute;right:10px;top:2px}